<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
    <title>Kickpush</title>
  </head>
  <body class="bg-desire">
    <div class="container">
        <%- include('partials/nav', { session: session }) %>

        <section class="d-flex align-items-center justify-content-center">
            <div class="text-white text-center">
                <h1 class="display-1"><strong>@iqbalbaharum</strong></h1>
                <p class="lead">The programmer</p>
                <div>
                    <a href="http://github.com/iqbalbaharum"><img src="/img/icons/github-icon.png" /></a>
                    <a href="http://twitter.com/iqbalbaharum"><img src="/img/icons/twitter-icon.png" /></a>
                </div>
            </div>
        </section>

        <section class="d-flex align-items-center justify-content-center">
            <div class="text-white text-center">
                <h1 class="display-1 color-desire-light text-statement"><strong>No politics and no drama.</strong></h1>
            </div>
        </section>

        <%- include('partials/foot') %>
    </div>

    <%- include('partials/scripts') %>
  </body>
</html>