<!doctype html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
    <title>Kickpush</title>
  </head>
  <body class="bg-white">
    <div class="container">
        <%- include('partials/nav') %>

        <section class="section-half d-flex align-items-center justify-content-center">
          <div class="text-center">
              <h1 class="display-2"><strong>It’s not what you say, <br /> it’s what you do.</strong></h1>
          </div>
      </section>
        
      <section>
        <div class="card">
          <div class="card-body">
            This is some text within a card body.
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            This is some text within a card body.
          </div>
        </div>

      </section>
    </div>

    <%- include('partials/scripts') %>
  </body>
</html>